<?php
/**
 * @var $this   Mage_Core_Model_Resource_Setup
 */
$installer = $this;
$connection = $this->getConnection();

//add your blocks here
$blocksList = [
    //['block_name'=>'page/html','is_allowed'=>1],
    //['block_name'=>'newsletter/subscribe','is_allowed'=>1]
];

//add your variables here
$variablesList = [
    //['variable_name'=>'','is_allowed'=>1],
    //['variable_name'=>'','is_allowed'=>1],
];

$installer->startSetup();

if (count($blocksList) !== 0) {
    $connection->insertMultiple($installer->getTable('admin/permission_block'), $blocksList);
}

if(count($variablesList) !== 0) {
    $connection->insertMultiple($installer->getTable('admin/permission_variable'), $variablesList);
}


$installer->endSetup();