<?xml version="1.0" ?>
<config>
    <modules>
        <Vmasciotta_MagentoProjectVariablesInstaller>
            <version>1.0.0</version>
        </Vmasciotta_MagentoProjectVariablesInstaller>
    </modules>
  <global>
      <resources>
          <vmasciotta_magentoprojectvariablesinstaller_setup>
              <setup>
                  <module>Vmasciotta_MagentoProjectVariablesInstaller</module>
                  <class>Mage_Core_Model_Resource_Setup</class>
              </setup>
          </vmasciotta_magentoprojectvariablesinstaller_setup>
      </resources>
  </global>
</config>
